.red
{
	display: flex;
	width: 100%;
	height: 100%;
}

h2
{
	font-weight: 700;
}

.images
{
	display: flex;
	margin-left: 0px;
}

.images img
{
	margin-bottom: -20px;
}

.images .image1 h4
{
	margin-bottom: -10px;
	padding-bottom: 0px;
}

.images h4
{
	margin-bottom: -10px;
	
}

.blue
{
	margin: 80px;
}

.image1 p
{
	margin-bottom: -100px;
	font-size: small;
	font-weight: 200px;
}

p
{
	font-size: small;
	font-weight: 200px;
	color: rgb(124, 123, 123);
}

.cody
{
	font-size: 15px;
	font-weight: 400;
	color: rgb(124, 123, 123);
}

.green
{
	margin-left: 0px;
}

#class
{
	margin-left: 30px;
}